body {
	background-color: #e0e0e0;
}

#header {
	margin: 40px 150px;
}

#header h1 {
	padding : 10px 0px;
	font-family : "vollkorn SC", helvetica, sans-serif; /*Paper in middle? */
	font-weight: 600;
	text-align: center;
	letter-spacing: 25px;
	font-size: 45px;
	color : black;
	border : 7px black solid;
	border-radius: 10px;
}

#container {
	margin: auto;
	display : grid;
	height: 400px;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 150vh;
}

.player_anwser {
	height : 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-size: 3em;
	min-width: fill-available;
}

.computer, .player {
	border: 7px black solid;
	border-radius: 10px;

}

.player h1, .computer h1{
	text-align: center;
	text-decoration: underline;
}

#choice_bar {
	margin-top: 20px;
	display : flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.choice {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	border: 10px black solid;
	font-weight: bold;
	border-radius: .5rem;
	margin: 1rem;
	font-size: 30px;
	padding: 1rem .5rem;
	transition: all .07s ease;
	width: 10rem;
	text-align: center;
	color: #black;
}

.choice:hover {
	transform: scale(1.05);
}

.choice:active {
	transform: scale(1);
}
